- is_dark = locals.fetch(:is_dark, false)
- is_available_for_libre = tier_hash[:gitlab_libre]
- is_available_for_starter = tier_hash[:gitlab_starter]
- is_available_for_premium = tier_hash[:gitlab_premium]
- is_available_for_ultimate = tier_hash[:gitlab_ultimate]
- is_available_for_gitlab_free = tier_hash[:gitlab_free] || (gitlab_com != false && is_available_for_libre)
- is_available_for_gitlab_bronze = tier_hash[:gitlab_bronze] || (gitlab_com != false && is_available_for_starter)
- is_available_for_gitlab_silver = tier_hash[:gitlab_silver] || (gitlab_com != false && is_available_for_premium)
- is_available_for_gitlab_gold = tier_hash[:gitlab_gold] || (gitlab_com != false && is_available_for_ultimate)
- libre_title = is_available_for_libre ? "Available for GitLab self-hosted Libre users" : "Not available for GitLab self-hosted Libre users"
- starter_title = is_available_for_starter ? "Available for GitLab self-hosted Starter users" : "Not available for GitLab self-hosted Starter users"
- premium_title = is_available_for_premium ? "Available for GitLab self-hosted Premium users" : "Not available for GitLab self-hosted Premium users"
- ultimate_title = is_available_for_ultimate ? "Available for GitLab self-hosted Ultimate users" : "Not available for GitLab self-hosted Ultimate users"
- free_title = is_available_for_gitlab_free ? "Available for GitLab.com Free users" : "Not available for GitLab.com Free users"
- bronze_title = is_available_for_gitlab_bronze ? "Available for GitLab.com Bronze users" : "Not available for GitLab.com Bronze users"
- silver_title = is_available_for_gitlab_silver ? "Available for GitLab.com Silver users" : "Not available for GitLab.com Silver users"
- gold_title = is_available_for_gitlab_gold ? "Available for GitLab.com Gold users" : "Not available for GitLab.com Gold users"

.badge-container{ class: "#{'dark' if is_dark}" }
  .top-row
    %a{"title" => libre_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_libre}"}<
        LIBRE
    %a{"title" => starter_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_starter}"}<
        STARTER
    %a{"title" => premium_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_premium}"}<
        PREMIUM
    %a{"title" => ultimate_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_ultimate}"}<
        ULTIMATE
  .bottom-row
    %a{"title" => free_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_free}"}<
        FREE
    %a{"title" => bronze_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_bronze}"}<
        BRONZE
    %a{"title" => silver_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_silver}"}<
        SILVER
    %a{"title" => gold_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_gold}"}<
        GOLD
